header {
  background: $headerbg
}
nav {
  padding: 20px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      img {
        @media (max-width: 431px) {
          width: 100px;
        }
        @media (max-width: 341px) {
          width: 80px;
        }
      }
    }
    .links {
      ul {
        display: flex;
        margin-bottom: 0;
        list-style: none;

        li {
          &:not(:last-child) {
            margin-right: 20px;
            @media (max-width: 321px) {
              margin-right: 15px;
            }
          }
          a {
            text-decoration: none;
            color: rgb(200, 200, 200);

            &:hover {
              text-decoration: underline;
              color: white;
            }
          }
        }
      }
    }
  }
}