
.team {
  margin-top: 200px;
  color: white;

  .container {
    .boxs {
      .box {
        background: $teambg;
        padding: 28px 40px;
        border-radius: 5px;

        p {
          color: rgb(218, 218, 218);
        }
        .author {
          display: flex;
          margin-top: 25px;

          img {
            width: 30px;
            border-radius: 50%;
            height: 30px;
            margin-right: 10px;
          }
          .txt {
            display: flex;
            flex-direction: column;
            h1 {
              font-size: 13px;
              margin: 0;
            }
            span {
              font-size: 10px;
              margin-top: 5px;
              color: #ccc;
            }
          }
          
        }

        @media (max-width: 992px) {
          &:last-child {
            margin-top: 23px;
          }
        }
      }
      .first-box {
        position: relative;

        &::before {
          content: '';
          background-image: url(../images/bg-quotes.png);
          background-repeat: no-repeat;
          background-size: 50px;
          width: 110px;
          height: 90px;
          position: absolute;
          left: -6px;
          top: -36px;
          z-index: -1;
          @media (max-width: 767px) {
            left: 0;
          }
        }
      }
    }
  }
}