$relway: 'Raleway', sans-serif;

$mainbg: hsl(218, 28%, 13%);
$headerbg: #1c2431;
$syan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$teambg: hsl(219, 30%, 18%);
$footerbg: hsl(216, 53%, 9%);